[tool.poetry]
name = "radas"
# Version is year.month.version
version = "2024.3.0a2"
description = "Plasma radiated power calculated using OpenADAS"
authors = ["Commonwealth Fusion Systems"]
readme = "README.md"
classifiers = [
"Development Status :: 5 - Production/Stable",
"Intended Audience :: Science/Research",
"Programming Language :: Python :: 3",
"Programming Language :: Python :: 3.9",
"Programming Language :: Python :: 3.10",
"Programming Language :: Python :: 3.11",
"Programming Language :: Python :: 3.12",
"Programming Language :: Python :: 3 :: Only",
"Topic :: Scientific/Engineering :: Physics",
"License :: OSI Approved :: MIT License",
]

[tool.poetry.scripts]
radas = 'radas.cli:run_radas_cli'
run_radas = 'radas.cli:run_radas_cli'
radas_config = 'radas.cli:write_config_template'

[tool.poetry.dependencies]
python = "<3.13,>=3.9"
numpy = "^1.22"
scipy = "^1.8"
matplotlib = "^3.6"
Pint = "^0.21"
pyyaml = "^6.0"
xarray = ">=2023"
pint-xarray = ">=0.3"
click = "^8.1"

[tool.poetry.group.dev.dependencies]
twine = ">=4.0"
black = ">=23.0"
ipdb = "^0.13"
pytest = "^7.2"
pytest-order = "^1.1"
pytest-cov = "^4.1"
coverage = ">=7.2"
ipykernel = ">=6.20"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]
addopts = "--cov=radas --cov-branch --cov-report term --cov-report xml:coverage.xml --import-mode=importlib"
pythonpath = [
  ".",
  "radas",
]
testpaths = [
  "tests",
]

[tool.coverage.run]
omit = [
  # These are built and executed at runtime. This is done in
  # a temporary repository. The temporary copies of the reader
  # are covered instead of the actual source files.
  "radas/adas_interface/source_files/*"
]